@font-face {
    font-family: 'Jost-Regular';
    src: url('/fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('/fonts/Jost-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}