$containerMaxWidth: 1200px;

/* fonts*/
$fontStandart: 'Arial, sans-serif';
$JostRegular: 'Jost-Regular';
$JostMedium: 'Jost-Medium';

/* colors */
$white: #fff;
$black: #000;
$lightFA: #F5F7FA;
$yellow33: #FFCC33;
$grey33: #333333;
$text-main: rgba(0, 0, 0, .8);
$text-subtitle: rgba(0, 0, 0, .6);
$light-text: #CC9900;
$light-bg: rgba(255, 204, 51, .1);
$blur-secondaryFA: rgba(245, 247, 250, .5);
$border-primary: rgba(0, 0, 0, .1);
$surface-tertiary: #EBF0F5;
$text-label: rgba(0, 0, 0, .4);
$blur-shadow: rgb(51, 102, 153, .08);
$bg-main: rgba(255, 255, 255, .8);
$blur-primary:rgba(255, 255, 255, .5);